---
layout: secure_and_protect_direction
title: "Group Direction - Anti-Abuse"
description: "Protect against abuse within GitLab instances"
canonical_path: "/direction/anti-abuse/"
---

## On this page
{:.no_toc}

- TOC
{:toc}


## Overview

Create protections against insider threat activiy within a GitLab instance. This includes abuse, spam, and other activity for users within a GitLab instance.


### Goal
Protect GitLab instances from abuse and spam at scale. With the increased growth of the GitLab SaaS platform and customer base, we have seen increased abuse and spam activity across public projects. These events create not only bad customer experiences with problems like issue spam but also pose potential risk to perofrmance and stability of GitLab shared runners and .com experience.

Initially this category is focused on protecting GitLab instances from abuse and spam by registered users.

> [Read more about coming changes](https://about.gitlab.com/blog/2021/05/17/prevent-crypto-mining-abuse/) to GitLab.com to help mitigate Cryptomining abuse.

### Categories

The Anti-Abuse group is made up of two categories presently:

- [Instance Resiliency](/direction/anti-abuse/instance_resiliency)
- [Insider Threat](/direction/anti-abuse/insider_threat)

## Confidential issues

A number of issues are intentionally confidential despite our value of transparency.  This is because we don't want to make it obvious to abusers the exact details of our controls.  We aren't relying on "security by obscurity"; however, we also don't want to make it easier for the abusers.

## The Plan

### What We Recently Completed

- Initial implementation of [Pipeline Validation Service](https://docs.gitlab.com/ee/administration/external_pipeline_validation.html)
- Various changes to GitLab.com to help mitigate Cryptomining abuse. [Read more about coming changes](https://about.gitlab.com/blog/2021/05/17/prevent-crypto-mining-abuse/).

### What We Are Currently Working On

* Improvements to internal Gitlab tools to detect and protect against spam and abuse.

### What's Next For Us

* Designing a user scoring system to provide long term validation of real users.

<p align="center">
    <i><br>
    Last Reviewed: 2021-10-26<br>
    Last Updated: 2021-10-26
    </i>
</p>
